
main{
    width: 100vw;
    left: 0;
    top: 3rem;
    margin: 0;
    padding: 0;
}
.hero-bg{
    position: relative;
    width: 100vw;
    height: 500px;
    
}

.hero-bg img{
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    background-image: url(https://images.pexels.com/photos/3345882/pexels-photo-3345882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 100vw;
    height: 500px;
    object-fit: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 10px rgba(0,0,0,0.6);
}


.shop-btn{  
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.2);
    padding: 2.5rem 2.5rem;
    border-radius: 100rem;
    border: 1px solid #1a1a1a;
    cursor: pointer;
    font-family: "Oswald"; 
    font-size: 1rem;
    color: rgb(211, 211, 211);
}

