:root {
  font-family: "Inter", system-ui, "Avenir", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color:rgb(161, 161, 161);
  text-decoration: inherit;
}
a:hover {
  color:  white;
  transition: 0.4s;
}
a:active{
  color:  white;
    transition: 0.4s;

}

**{
  margin: 0;
  padding: 0;
}
// body {
//   margin: 0;
//   display: flex;
//   place-items: center;
//   min-width: 320px;
//   min-height: 100vh;
// }

// h1 {
//   font-size: 3.2em;
//   line-height: 1.1;
// }

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  margin: 0.3rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #1a1a1a;
}
button:hover {
  border-color: rgb(161, 161, 161);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #646cff;
//   }
//   button {
//     background-color: #213547;
//     color: white;
//   }
//   .card h5{
//     color: #213547;
//   }
// }
@media (max-width: 550px){
  main{
    margin-top: 2rem;
  }
  .cards{
    display: flex;
    flex-direction: column;
    
  }
 #item-quantity{
    min-width: 90px;
    padding: 0;
  }
  #item-name{
    min-width: 120px;
  }
}

@media (max-width: 850px){
  .hero-bg{
    height: 500px;
    width: 100vw;
  }
  .hero-bg img{
    margin-top: 5rem;
    height: 500px;
    width: 100vw;
  }
  nav{
  font-size: 0.8rem;
  }
  nav h1{
    font-size: 1rem;
  }
  .cards{
    grid-template-columns: 1fr 1fr;
  }
  .prod-modal{

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


@media (max-height: 850px){

  .modal-container{
    display: flex;
    padding: 0 2rem;
    
  }
  .left-prod{
    img{
      max-width: 100%;
    }
  }
  .right-prod{
    padding: 0 2rem;
    display:flex;
    flex-direction: column;
    align-items: end;
    .prod-desc{
      padding-left: 3rem;
      text-align: right;
      h4{
        font-weight: 100;
      }
      p{
        font-weight: 700;
      }
    }

  }
  .prod-modal img{
    max-height: 40vh;
  }
}