.product-body{
    width: min(1200px, 100%);
    display: grid;
    grid-template-columns: 0.18fr 1fr;
    margin: 0;
    margin-top: 2rem;
    padding: 0 1rem;  
    background-color:rgb(65, 65, 65);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.5);
}

.product-body h1{
    font-family: "Oswald";
}